.list {
    padding-top: 5%;
  }
  
  .listuser {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }
  
  .user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .show_username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .show_email, .show_role ,.show_result{
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
  }
  .delete_user{
    display: flexbox;
    font-size: 30px;
    color: red;
    left:-509 px;
    cursor: pointer;  
    display: flex;
  }
  .result {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }
  
  .user-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #40d6e7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .user-card a:hover {
    background-color: #4f8593;
  } 
  
   
  